:root{
--cor-de-fundo: #94ffaf;
--texto: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}

header{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.img-nitro{
    width: 60%;
}

.INVESTIMENTOS{
    display: flex;
}

#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.foto-eduardo{
    width: 40%;
}

.foto-nauan{
    width: 40%;
}

.foto-Ryan{
    width: 40%;;
}
header a{
    color: gray;
    text-decoration: none;
}