:root{
--cor-de-fundo: #ff94df;
--texto: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}

header{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.img-nitro{
    width: 20%;
}

.INVESTIMENTOS{
    display: flex;
}