@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');

:root{
--cor-de-fundo: #9f94ff;
--texto: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
    font-family: "Jacquard 12 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}
footer{
    background-color: var(black);
    color: var(--texto);
}

header{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.img-nitro{
    width: 60%;
}

.INVESTIMENTOS{
    display: flex;
}

#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.foto-eduardo{
    width: 40%;
}

.foto-nauan{
    width: 40%;
}

.foto-Ryan{
    width: 40%;;
}
header a{
    color: gray;
    text-decoration: none;
}